@import "common.less";

.keyframesFunction (@name,@content) {
  @keyframes @name{
    @content();
  } 
}

.baseLogoTriangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1920px;
  height: 1080px;
}

.logo {
  position: relative;
  width: 100%;
  height: 100%;
  .logo_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: url('@/assets/svg/logo.svg') no-repeat center center;
    // background-size: 400px 400px;
    // opacity: 0.6;
  }
  .logo_triangle {
    .baseLogoTriangle;
    background-color: @initColorBlue;
    transition: all .3s ease-in-out;
    // animation: identifier 5s ease-in-out;
    // animation-fill-mode: forwards;
  }

  .loop(@n, @i: 1) when(@i <= @n) {
    @currentColor: extract(@triangleColorList,@i);
    @startColor: extract(@triangleStartColorList,@i);
    @highColor: extract(@triangleHighColorList,@i);
    @delay: @i * 0.03s;
    @start: ~"start@{i}";

    .keyframesFunction(@start, {
      0% {
        background-color: @startColor;
      }
      40% {
        background-color: @startColor;
      }
      50% {
        background-color: @highColor;
      }
      60% {
        background-color: @currentColor;
      }
      100% {
        background-color: @currentColor;
      }
    });

    @transformDelay: (@i * 0.01s) + 5;
    @transform: ~"transform@{i}";


    .keyframesFunction(@transform, {
      0% {
        background-color: @currentColor;
      }
      45% {
        background-color: @currentColor;
      }
      50% {
        background-color: lighten(@currentColor, 40%);
      }
      55% {
        background-color: @currentColor;
      }
      100% {
        background-color: @currentColor;
      }
    });

    @middle: ~"middle@{i}";

    .logo_triangle-@{i} {
      animation: @start 3s ease-in-out @delay, @transform 10s ease @transformDelay infinite;
      animation-fill-mode: forwards;
    }

    .logo_middle-@{i} when (@i = 1){
      .keyframesFunction(@middle, {
        0% {
          clip-path: polygon(40.22% 62.75%, 40.66% 61.98%, 41.00% 64.78%);
        }
        100% {
          clip-path: polygon(22.22% 86.75%, 25.66% 84.98%, 25% 88.78%);
        }
      });
      animation: @middle 2s ease @delay;
      animation-fill-mode: forwards;
    }

    .loop(@n, @i + 1);
  }
  .loop(160);
}