@import "common.less";

@keyframes logoTriangleAnimation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.keyframesFunction (@name,@content) {
  @keyframes @name{
    @content();
  } 
}

.baseLogoTriangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1920px;
  height: 1080px;
}

.logo_animation {
  animation: logoTriangleAnimation 720s linear infinite;
}
.logo {
  position: relative;
  width: 100%;
  height: 100%;
  // perspective: 1000px;
  // transform-style: preserve-3d;
  .logo_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('@/assets/svg/lion.svg') no-repeat center center;
    background-size: 400px 400px;
    opacity: 0.8;
  }
  .logo_triangle {
    .baseLogoTriangle;
    background-color: @initColorBlue;
    // transition: all 3s ease-out;
    // animation: identifier 5s ease-in-out;
    // animation-fill-mode: forwards;
  }

  .loop(@n, @i: 1) when(@i <= @n) {
    @currentColor: extract(@triangleColorList,@i);
    @startColor: extract(@triangleStartColorList,@i);
    @highColor: extract(@triangleHighColorList,@i);
    @delay: @i * 0.03s;
    @start: ~"start@{i}";

    // 初始化变色
    .keyframesFunction(@start, {
      0% {
        background-color: @startColor;
      }
      40% {
        background-color: @startColor;
      }
      50% {
        background-color: @highColor;
      }
      60% {
        background-color: @currentColor;
      }
      100% {
        background-color: @currentColor;
      }
    });

    @middleDelay: (@i * 0.01s) + 5;
    @middleHighLight: ~"middleHighLight@{i}";

    // 扫光
    .keyframesFunction(@middleHighLight, {
      0% {
        background-color: @currentColor;
      }
      45% {
        background-color: @currentColor;
      }
      50% {
        background-color: lighten(@currentColor, 40%);
      }
      55% {
        background-color: @currentColor;
      }
      100% {
        background-color: @currentColor;
      }
    });

    .logo_triangle-@{i} {
      animation: @start 3s ease-in-out @delay, @middleHighLight 10s ease @middleDelay infinite;
      animation-fill-mode: forwards;
    }

    @transformName: ~"transformName@{i}";
    @logoPosition: extract(@logoPositionList,@i);
    @transformPosition: extract(@transformPositionList,@i);
    @transformDelay: extract(@transformDelayList,@i);
    @translateZ: extract(@translateZList,@i);


    // 爆炸
    .keyframesFunction(@transformName, {
      0% {
        clip-path: @logoPosition;
        // transform: translateZ(0px);
      }
      100% {        
        clip-path: @transformPosition;
        // transform: @translateZ;
      }
    });

    // @transformEndName: ~"transformEndName@{i}";

    // .keyframesFunction(@transformEndName, {
    //   0% {
    //     transform: rotateX(0deg) rotateY(0deg);
    //   }
    //   100% {        
    //     transform: rotateX(360deg) rotateY(360deg);
    //   }
    // });

    .logo_transform-@{i} {
      animation: @transformName 3s ease-in-out, @middleHighLight 10s ease @middleDelay infinite;
      animation-fill-mode: forwards;
    }

    .loop(@n, @i + 1);
  }
  .loop(160);
}